*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}
button {
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button img{
  width: 180px;
  height: 180px;

}

.controles{
    width: 100%;
    display: grid;
    grid-template-columns: auto 200px 200px 200px auto;
    grid-template-rows: 200px 200px;
}
#adelante{
    grid-column: 3/4;
    grid-row: 1/2;
}

#derecha {
    transform: rotate(90deg);
    grid-column: 4/5;
    grid-row: 2/3;
}

#izquierda {
    transform: rotate(-90deg);
    grid-column: 2/3;
    grid-row: 2/3;
}

#atras {
    transform: rotate(180deg);
    grid-column: 3/4;
    grid-row: 2/3;
}
.on { background: #4CAF50; }
.off { background: #f44336; }


.slider {
  width: 80%;
  margin: 20px;
}
hr {
  margin: 40px 0;
  border: 1px solid #333;
}

.on_B { background: #4CAF50; }
.off_B { background: #f44336; }

.motorbanda-div{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}